/*DEFINING UNIVERSAL CSS */
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
}

/* DEFINING THE BODY CSS */
body{
    display: flex;
    justify-content: center;
    line-height: 7px;
    min-height: 95vh;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(71, 14, 183, 0.397),rgba(69, 27, 9, 0.696),rgba(89, 3, 82, 0.49));
}
/* END OF BODY CSS */

/* MAIN CSS */
.main{
    display: flex;
    background-color:#8e50e65c ;
    border-radius: 2rem;
    padding:  2rem;  
    width: 700px;
    justify-content: center;
}
/* END OF MAIN CSS*/

/* DEFINING CONTENT CSS */
.content{
display: flex;
justify-content: center;
position: absolute;
top:12%;
}

/* LOGIN BUTTON */
.button{
    padding: 1rem;
    justify-content: center;
}
#btn{
    padding: 1rem;
    width: 300px;
    border:none;
    color: #fff;
    border-radius: 25px;
    background-color:#524e53d4;
}
/* END OF LOGIN FORM */

/* FORM CSS */
.form{
    padding: 0.6rem;
}